/* Global variables & constants
   ---------------------------- */
:root {
    /* Lengths & heights */
    --HEADER_HEIGHT: 180px;
    --HEADER_TITLE_FONTSIZE: 50px;
    --HEADER_SUBTITLE_FONTSIZE: 20px;

    --FOOTER_HEIGHT: 30px;

    --BODY_PADDING: 4em;
    --BODY_MAX_WIDTH: 1200px;

    /* Colors */
    --GT_GOLD: #B3A369;
    --GT_GOLD_DARKER: #8e8255;
    --UCF_METALLIC_GOLD: #BA9B37;
    --LINKEDIN_BLUE: #0077B5;
    --GOOGLE_SCHOLAR_LINK: #27a9ba;
    --HEADER_LINK_COLOR: #ffa5ae;
    --WARNING_TEXT_COLOR: red;
    --SUBPAGE_LINK_COLOR: #c15a64;

    /* FONTS */
    --HEADER_FONT: "Montserrat", sans-serif;
    --HEADER_FONT_OPTICAL_SIZING: auto; /* Not used; default value is auto */
    --HEADER_FONT_WEIGHT: 300;
    --HEADER_FONT_STYLE: normal; /* Not used; default value is normal */
    --BODY_FONT: "Open sans", sans-serif;
    --H1_FONT_SIZE: 40px;
    --H1_FONT_WEIGHT: 700;
    --H2_FONT_SIZE: 26px;
    --H2_FONT_WEIGHT: 700;
}

/* Major elements
   -------------- */
header {
    position: fixed;
    top: 0;
    right: 0;
    margin: 0;
    width: 100%;
    min-height: var(--HEADER_HEIGHT); /* Adjust as needed */
    z-index: 1000; /* Ensures the header stays on top */
    color: white;
    background-color: black;
    box-shadow: 0 0px 8px 4px rgba(0, 0, 0, 0.6);
    white-space: nowrap;
}

body {
    padding: var(--BODY_PADDING);
    padding-top: var(--HEADER_HEIGHT); /* Matches the header's height */
    font-family: var(--BODY_FONT);
    font-size: 18px;
    font-weight: 400;
    margin: auto;
    max-width: var(--BODY_MAX_WIDTH);
    height: 100%;
    background: white;
    overflow-wrap: break-word;
    /* text-align: justify; */
}

h1 {
    font-family: var(--BODY_FONT);
    font-size: var(--H1_FONT_SIZE);
    font-weight: var(--H1_FONT_WEIGHT);
}

h2 {
    font-family: var(--BODY_FONT);
    font-size: var(--H2_FONT_SIZE);
    font-weight: var(--H2_FONT_WEIGHT);
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0;
    color: black;
    background-color: white;
    width: 100%;
    height: var(--FOOTER_HEIGHT);
}

figure > img {
    display: block;
}

figcaption {
    background-color: white;
    color: black;
    font-style: italic;
    padding: 2px;
    text-align: center;
    clear: both;
}

/* IDs */
/* --- */
#gradient {
    position: fixed;
    top: var(--HEADER_HEIGHT);
    left: 0;
    background: #ff9a52;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 205, 187, 0.619) 50%, rgba(180, 76, 123, 0.767) 100%);
    height: 40px;
    margin: 0;
    width: 100%;
}

#header-title {
    font-family: var(--HEADER_FONT);
    font-weight: var(--HEADER_FONT_WEIGHT);
    font-size: var(--HEADER_TITLE_FONTSIZE);
}

#header-subtitle {
    font-family: var(--HEADER_FONT);
    font-weight: var(--HEADER_FONT_WEIGHT);
    font-size: var(--HEADER_SUBTITLE_FONTSIZE);
}

#utah-figure {
    float: right;
    max-width: 30%;
    width: 500px;
    margin-left: 2em; /* add space between text and picture */
    height: auto;
    caption-side: bottom;
}

#utah-picture {
    float: right;
    max-width: 100%;
    width: 500px;
    margin-left: 5%; /* add space between text and picture */
    height: 900px;
    object-fit: cover;
    object-position: 60% 100%;
    border: 0px solid #000000;
}

#HUT-figure {
    float: right;
    max-width: 50%;
    width: 400px;
    margin-left: 2em; /* add space between text and picture */
    height: auto;
    caption-side: bottom;
}

#HUT-picture {
    float: right;
    max-width: 100%;
    margin-left: 5%; /* add space between text and picture */
    height: auto;
    object-fit: scale-down;
    border: 0px solid #000000;
}

#GT-REU-figure {
    float: right;
    max-width: 50%;
    width: 400px;
    margin-left: 2em; /* add space between text and picture */
    height: auto;
    caption-side: bottom;
}

#GT-REU-picture {
    float: right;
    max-width: 100%;
    margin-left: 5%; /* add space between text and picture */
    height: auto;
    object-fit: scale-down;
    border: 0px solid #000000;
}

#atlanta-skyline-figure {
    position: absolute;
    bottom: 5em;
    width: var(--BODY_MAX_WIDTH);
    height: auto;
    margin: 0;
}

#atlanta-skyline-picture {
    max-width: 100%;
    width: var(--BODY_MAX_WIDTH);
    height: 600px;
    object-fit: cover;
    object-position: 50% 20%;
    border: 0px solid black;
}

#lookout-mountain-figure {
    float: right;
    max-width: 40%;
    width: 700px;
    margin-left: 2em; /* add space between text and picture */
    height: auto;
    caption-side: bottom;
}

#lookout-mountain-picture {
    float: right;
    max-width: 100%;
    width: 700px;
    margin-left: 5%; /* add space between text and picture */
    height: 900px;
    object-fit: cover;
    object-position: 60% 100%;
    border: 0px solid #000000;
}

#gt-email-link {
    color: var(--GT_GOLD);
}

#linkedin-link {
    color: var(--LINKEDIN_BLUE);
}

#google-scholar-link {
    color: var(--GOOGLE_SCHOLAR_LINK);
}

#gt-dark-link {
    color: var(--GT_GOLD_DARKER);
}

#ucf-metallic-gold-link {
    color: var(--UCF_METALLIC_GOLD);
}

#header-link {
    color: var(--HEADER_LINK_COLOR);
}

#subpage-link {
    color: var(--SUBPAGE_LINK_COLOR);
}

#warning-text {
    color: var(--WARNING_TEXT_COLOR);
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

/* Hyperlink behavior
   ------------------ */
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}